@page
@model Formation.Pages.DetailsModel
@{
}


<div class="card m-5 "  style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title m-2">Name: @Model.Restaurant.Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">Tel:@Model.Restaurant.PhoneNumber</h6>
        <p class="card-text">Address: @Model.Restaurant.Address</p>

    </div>
</div>



